<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dhruti Patel - Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/creative.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li><li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#academics">Academics</a>
            </li>
            </li><li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            </li><li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>-->
            <!--</li>-->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/documents/Resume.pdf" target="_blank">Resume</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#references">References</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
         <!--<img class="img-rounded" id="pv" src="/images/pavithravinay.jpg">-->
        <div class="header-content-inner">
          <h1 id="homeHeading" class="original">Dhruti Patel</h1>
          <p id="cs-student">Computer Science Graduate Student</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" id="find-out-more" href="#about">Find Out More</a>
        </div>
      </div>
    </header>

    <!--About-->
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">About Me</h2>
            <hr class="light">
            <p class="text-faded">I consider myself to be a highly motivated individual with a proven ability to generate results.
            Having had a resourceful academic experience in the field of computer science, I am looking forward to
            having an exciting future in the tech world. Combining my technical skills and knowledge, currently,
            I am looking for full time opportunities in a collaborative environment where ideas turn into reality.</p>
          </div>
          </div>
        </div>
    </section>
    <!--End - About-->


    <!--Academics section-->
    <section id="academics">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <i class="fa fa-graduation-cap fa-3x text-primary sr-icons"></i>
            <h2 class="section-heading skills-icon">Education</h2>
            <hr class="primary">
          </div>
          <div class="col-lg-8 mx-auto rounded" id="exp-border">
            <div id="exp-content">
              <div id="ms">
                <div class="job-title bg-original">
                  <h4> Master of Science in Computer Science</h4>
                  <i class="fa fa-university sr-icons"></i>
                  <p class="skills-icon">New York Institute of technology,New York (January 2017- May 2018, GPA - 3.7)<p>
                </div>
                <div id="coursework">
                  <p class="space-left"><strong>Coursework:</p></strong>
                  <p class="space-left">Algorithms concept, Database System, Programming languages, Software Engineering, Operating system, Artificial Intelligence etc.</p>
                </div>
              </div>
              <hr class="light">
              <hr class="exp-hr">
              <div id="be">
                <div class="job-title bg-original">
                  <h4> Bachelor of Engineering</h4>
                  <i class="fa fa-university sr-icons"></i>
                  <p class="skills-icon">A.D.Patel Institute of technology, India (July 2011- June 2015, GPA - 3.74)<p>
                </div>
                <div id="coursework">
                  <p class="space-left"><strong>Coursework:</strong></p>
                  <p class="space-left">Database Organization, Object oriented Programming in Java and C++, Data Structures in C, Operating Systems, Computer Networks, Software testing etc.</p>
                </div>
              </div>
             </div>
          </div>
        </div>
      </div>
    </section>
    <!--End- Academics section-->

    <div class="bg-primary fill"></div>

    <!--Skills section -->
    <section id="skills">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <i class="fa fa-book fa-3x text-primary sr-icons"></i>
            <h2 class="section-heading skills-icon">Skills</h2>
            <hr class="primary">
          </div>
          <div class="col-lg-8 mx-auto rounded" id="exp-border">
            <div id="exp-content">
              <div id="web-technologies">
                <div class="job-title bg-original">
                  <i class="fa fa-globe sr-icons"></i>
                  <h5 class="skills-icon">Web Design and Developement/ Frameworks</h5>
                </div>
                <div class="web">
                  <p class="space-left">HTML5, CSS3, Bootstrap, JavaScript, PHP, Java, AJAX, Angular JS, React JS, Laravel, Node.js, Express</p>
                </div>
              </div>
              <div id="database">
                <div class="job-title bg-original">
                  <i class="fa fa-database sr-icons"></i>
                  <h5 class="skills-icon">Database</h5>
                </div>
                <div class="db">
                  <p class="space-left">MySQL, Oracle, SQL Server, Mongo DB</p>
                </div>
              </div>
              <div id="programming-languages">
                <div class="job-title bg-original">
                  <i class="fa fa-language sr-icons"></i>
                  <h5 class="skills-icon">Programming Languages</h5>
                </div>
                <div class="pl">
                  <p class="space-left">Java, Python, C</p>
                </div>
              </div>
              <div id="testing">

                <div class="job-title bg-original">
                  <i class="fa fa-check-circle-o sr-icons"></i>
                  <h5 class="skills-icon">Testing</h5>
                </div>
                <div class="test">
                  <p class="space-left">Manual Testing - Module testing, Integration testing, functional testing, regression testing</p>
                </div>
              </div>
              <div id="tools">
                <div class="job-title bg-original">
                  <i class="fa fa-cogs sr-icons"></i>
                  <h5 class="skills-icon">Tools/ IDE</h5>
                </div>
                <div class="tool">
                  <p class="space-left">Microsoft Visual Studio, Eclipse, Maven, Quality Centre, Microsoft Project, VMware, Splunk, Grunt, Pega, Gulp </p>
                </div>
              </div>
             </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div id="resume">
              <a class="btn btn-primary btn-xl" href="/documents/Resume.pdf" target="_blank">Resume</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End - Skills section-->

    <div class="bg-primary fill"></div>

    <!--Experience section-->
    <section id="experience">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="section-heading text-center">Experience</h2>
            <hr class="primary">
          </div>
          <div class="col-lg-8 mx-auto rounded" id="exp-border">
            <div id="exp-content">
              <div id="ta">
                <div class="job-title bg-original">
                  <h4>Morgan Stanley</h4>
                  <h5>Application Developer, August 2016-Devember 2016 </h4>
                </div>
                <div id="responsibilities">
                  <p class="space-left">Responsibilities:</p>
                  <ul>
                    <li>I have worked for Morgan Stanley through TATA Consultancy Services as an application developer in a high profile project in QAPM (Quality Assurance Production Management ) team In addition I was working in a agile development process as well as my role in this project was developing front end and back end part of the application. </li>
                    <li>Also, I have worked on database side too.</li>
                  </ul>
                </div>
              </div>

              <hr class="light">
              <hr class="exp-hr">

                <div id="nextgen">
                <div class="job-title bg-original">
                  <h4>New York Institute of technology</h4>
                  <h5>Web Assistant, Octomber 2017- February 2018</h4>
                </div>
                  <ul>
                    <li>My work was to Keep the Department’s website up to date on best practices and new Drupal
                      features and was responsible for editing the content in HTML for departmental and program website</li>
                      <li>Participated in special events and assisted with set-up and Approved the flyer for the events.</li>
                      <li>I had to Coordinate with different organisation if they have any problem to upload the flyer on the campus life site.</li>
                      <li>Assisted with support and maintenance of campus blogs using WordPress.</li>
                      <li>Maintained, updated and organized Constant Contact account and database.</li>
                  </ul>
              </div>

              <hr class="light">
              <hr class="exp-hr">

              <div id="cenduit">
                <div class="job-title bg-original">
                  <h4>New York Institute of technology</h4>
                  <h5>Research Assistant, March 2017- June 2017</h5>
                </div>
                <ul>
                  <li>I worked as a research assistant in the field of the SMO classification Algorithm</li>
                  <li>executed and migrated python script into .arff file using weka tool</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Experience section-->

    <div class="bg-primary fill"></div>

    <!--Projects section  -->
    <section id="projects">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Projects</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-handshake-o fa-4x text-primary sr-icons"></i>
              <h3 class="portfolio-project-name">Doorstep Services</h3>

              <button type="button" class="btn btn-sm btn-custom btn-primary" data-toggle="modal" data-target="#bestDeal">more info..</button>
              <!-- Modal -->
              <div class="modal fade" id="bestDeal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Doorstep Services</h4>
                    </div>
                    <div class="modal-body bg-primary">
                      <p>Doorstep services is an android Application which provides users to multiple services with professionals and It will allow users to quickly contact nearby workers or businesses to employ them for an immediate task.
                        The services will be Plumbing, Painting, Electricity Service, Local moving, Laundry Service, House Cleaning, Repairing</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-camera fa-4x text-primary sr-icons"></i>
              <h3>ADM Tracing and security services</h3>

              <button type="button" class="btn btn-sm btn-custom btn-primary" data-toggle="modal" data-target="#eCameraStore">more info..</button>
              <!-- Modal -->
              <div class="modal fade" id="eCameraStore" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">ADM Tracing and security services</h4>
                    </div>
                    <div class="modal-body bg-primary">
                      <p>TSS is an end user application which will be based on Android platform in order to achieve absolute security through below listed apps:

                        Tracing People: Tracing People is the application in which Approx location of the Person can be find out throughout the world.with the use of mutual understanding between people.
                        Missing People: A preliminary based security source which will enable us to find out who have been missed and who have found.
                        Reminder & Direct Alert: A combine concept which include getting reminder and sending an alert directly</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa-4x fa fa-users text-primary sr-icons"></i>
            <h3>Social Networking Website</h3>

            <button type="button" class="btn btn-sm btn-custom btn-primary" data-toggle="modal" data-target="#socialNetwork">more info..</button>
            <!-- Modal -->
            <div class="modal fade" id="socialNetwork" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Social Networking Website</h4>
                  </div>
                  <div class="modal-body bg-primary">
                    <p>Created a web application developed using object oriented design principles with focus on
                        reusability, extensibility and flexibility. Implementation involves various technologies such as Java
                        Servlets, JSP, Ajax, MySQL db, MongoDB etc.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-database fa-4x text-primary sr-icons"></i>
              <h3 class="portfolio-project-name">Database Manager</h3>

              <button type="button" class="btn btn-sm btn-custom btn-primary" data-toggle="modal" data-target="#db">more info..</button>
              <!-- Modal -->
              <div class="modal fade" id="db" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Database Manager</h4>
                    </div>
                    <div class="modal-body bg-primary">
                      <p>Created a web application developed using object oriented design principles with focus on
                          reusability, extensibility and flexibility. Implementation involves various technologies such as Java
                          Servlets, JSP, Ajax, MySQL db, MongoDB etc.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End - Projects section  -->


    <!--Portfolio section-->
    <!--<section class="p-0" id="portfolio">
      <div class="call-to-action bg-black">
        <div class="container text-center">
          <h2 class="bg-original">Portfolio</h2>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="https://pvinay-yelpcamp.herokuapp.com" target="_blank">
              <img class="img-fluid" src="/images/thumbnails/yelpcamp.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    YelpCamp
                  </div>
                  <div class="text-faded">
                    <p class="project-desc">Click on any campground to see detailed info, add comment, edit/delete campground/comment, and more. </p>
                    <p>Click to launch app</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="https://pvinay-colorgame.herokuapp.com/" target="_blank">
              <img class="img-fluid" src="/images/thumbnails/colorgame.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    RGB Color Game
                  </div>
                  <div class="text-faded">
                    <p class="project-desc">Guess RGB color! Click a circle to see if you guessed it right. Set the game mode either Easy or Hard, select "Play again?" to play again.</p>
                    <p>Click to launch app</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="https://pvinay-patatap-clone.herokuapp.com/">
              <img class="img-fluid" src="/images/thumbnails/patatap_clone.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Patatap Clone
                  </div>
                  <div class="text-faded">
                    <p class="project-desc">Press any key to see bubble formation on screen with assigned unique sound for each key!</p>
                    <p>Click to launch app</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>-->
    <!--End - Portfolio section-->

    <!--Contact section-->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mr-auto text-center">
            <i class="fa fa-envelope sr-contact fa-2x"></i>
            <i class="fa fa-linkedin-square sr-contact fa-2x"></i>
            <p>Feel free to drop me a line at
              <a href="mailto:dhrutipatel0417@gmail.com">dhrutipatel0417@gmail.com</a>
            </p>
            <p>
              Or, view my LinkedIn profile <a href="https://www.linkedin.com/in/dhruti-patel-66a818117" target="_blank">here</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="references">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="section-heading text-center">References</h2>
            <hr class="primary">
          </div>
          <div class="col-lg-8 mx-auto rounded" id="exp-border">
            <div id="exp-content">
              <div id="ta">
                <div class="job-title bg-original">
                  <h4>Sridharan Ganesan</h4>
                  <h5>Employer: Morgan Stanley</h4>
                </div>
                <div id="responsibilities">
                  <p class="space-left">Contact Details:</p>
                  <ul>
                    <li>Email:sridharangn@yahoo.com,Contact:+61 470691730 </li>
                  </ul>
                </div>
              </div>

              <hr class="light">
              <hr class="exp-hr">

                <div id="nextgen">
                <div class="job-title bg-original">
                  <h4>Ripal Patel</h4>
                  <h5>Employer:Prudential</h4>
                </div>
                  <ul>
                    <li>Email:patelr101@outlook.com,Contact:+1 732-850-8889</li>
                  </ul>
                </div>

              <hr class="light">
              <hr class="exp-hr">

              <div id="cenduit">
                <div class="job-title bg-original">
                  <h4>Ankit Patel</h4>
                  <h5>Employer:TCS</h5>
                </div>
                <ul>
                  <li>Email:ankit.patel2030@gmail.com,Contact:+1 720-401-5994</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!--  <section class="bg-primary" id="references">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">References</h2>
            <hr class="light">
            <p class="text-faded">
              <ul>
                <li> 1.Sridharan Ganesan,Employer:TCS,Email:sridharangn@yahoo.com,Contact:+61 470691730</li>
                <li> 2.Ripal Patel,Employer:Prudential,Email:patelr101@outlook.com,Contact:+1 732-850-8889</li>
                <li> 3.Ankit Patel,Employer:American Airlines,Email:ankit.patel2030@gmail.com,Contact:+1 720-401-5994</li>
                <li> 4.Yema Gbondo,New York Institute of Technology,Email:ygbondo@nyit.edu,Contact: +1 929-400-5118</li>
              </ul>
            </p>
          </div>
          </div>
        </div>
    </section>-->
    <!--End - Contact section-->

    <!-- Bootstrap core JavaScript -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/scripts/jquery.easing.min.js"></script>
    <script src="/scripts/scrollreveal.min.js"></script>
    <script src="/scripts/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/scripts/creative.min.js"></script>

  </body>

</html>
